{% extends 'base.html.twig' %}

{% block title %}New Examen{% endblock %}

{% block body %}
    <h1 style="text-align:center">Ajout Examen</h1>
    <div class="container">
        <div class="row">
            <div class=" col-md-10">
               <button  class="btn btn-primary"><a style="color:white" href="{{path('examen_index')}}">Liste des examens</a></button>
                <div class="card">
                    {{form_start(form)}}
                        <div class="row">
                            <div class="col-md-6">
                                {{form_row(form.type)}}
                            </div>
                            <div class="col-md-6">
                                {{form_row(form.description)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-primary"><a style="color:white"  href="{{path('plainte_new')}}">Precedent</a></button>
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-primary"><a style="color:white" href="{{path('consultation_index')}}">Mes consultations</a></button>
                            </div>
                        </div>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
