{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}
 <h1 style="text-align:center">Mes rendez_vous</h1>
    <div class="container">
        <div class="row">
            {% for rdv in rendez_vouses %}
                {% if rdv %}
                        <div class="col-md-4">
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-3" style="webkit-border-radius : 75px;border: none;margin:5%; padding:5%">
                                        <img src="{{rdv.patient.image }}" alt="" max-width : 75px high="10%" width="60" >
                                    </div>
                                    <div class="col-md-6" style="webkit-border-radius : 75px;border: none;margin:5%; padding:5%">
                                        <h4>{{rdv.patient.nom }}<div style="text-transform: uppercase;">{{rdv.patient.prenom }}</div></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="webkit-border-radius : 75px;border: none;margin:5%; padding:5%">
                                         <h4>Dr: {{rdv.medecin.nom }}{{rdv.medecin.prenom }}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="webkit-border-radius : 75px;border: none;margin:5%; padding:5%">
                                         <h4>Le: {{rdv.date| date("Y-m-d)") }} A {{rdv.heure }}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="webkit-border-radius : 75px;border: none;margin:5%; padding:5%">
                                         <h4>Le statut: {{rdv.statut }}</h4>
                                    </div>
                                </div>
                                <div style="text-align:rigtht"><a href="{{path('home')}}">RETOUR</a></div>
                            </div>
                        </div>
                    {% else %}
                        <div><h4>Vous n'avez aucun patient</h4></div>
                {% endif %}
                <br><br>
            {% endfor %}
        </div>
    </div>

{% endblock %}
