{% extends 'base.html.twig' %}

{% block title %}TypeExamen index{% endblock %}

{% block body %}
    <h1>TypeExamen index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_examan in type_examens %}
            <tr>
                <td>{{ type_examan.id }}</td>
                <td>{{ type_examan.designation }}</td>
                <td>{{ type_examan.prix }}</td>
                <td>
                    <a href="{{ path('type_examen_show', {'id': type_examan.id}) }}">show</a>
                    <a href="{{ path('type_examen_edit', {'id': type_examan.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_examen_new') }}">Create new</a>
{% endblock %}
