{% extends 'base.html.twig' %}

{% block title %}Allergie index{% endblock %}

{% block body %}
    <h1>Allergie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for allergie in allergies %}
            <tr>
                <td>{{ allergie.id }}</td>
                <td>{{ allergie.designation }}</td>
                <td>
                    <a href="{{ path('allergie_show', {'id': allergie.id}) }}">show</a>
                    <a href="{{ path('allergie_edit', {'id': allergie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('allergie_new') }}">Create new</a>
{% endblock %}
