{% extends 'base.html.twig' %}

{% block title %}TypeConsultation{% endblock %}

{% block body %}
    <h1>TypeConsultation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_consultation.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ type_consultation.designation }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ type_consultation.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_consultation_index') }}">back to list</a>

    <a href="{{ path('type_consultation_edit', {'id': type_consultation.id}) }}">edit</a>

    {{ include('type_consultation/_delete_form.html.twig') }}
{% endblock %}
