{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container">
        <div class="col-md-10"> <h1 style="text-align:center;">Modification mot de passe</h1></div>
        <div class="col-md-offset-1 col-md-10 col-md-offset-1">
            <div class="card">
                {{ form_start(registrationForm) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(registrationForm.ancien, { label: 'Ancien mot de passe'}) }}
                            {{ form_row(registrationForm.nouveau, { label: 'Nouveau'}) }}
                            {{ form_row(registrationForm.confirmation, { label: 'confirmation'}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-danger">Annuler</button>
                        </div>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}