{% extends 'base.html.twig'%}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edit user{% endblock %}

{% block body %}

   <div class="container"><br>
        {{form_start(form)}}
          <div class="card">
            <h3 style="text-align:center;">Edit user</h3>
            <div class="row">
                <div class="col-md-6">    
                    {{form_row(form.nom)}}
                    {{form_row(form.prenom)}}
                    {{form_row(form.tel)}}
                </div>
                <div class="col-md-6">
                    {{form_row(form.adresse)}}
                    {{form_row(form.assurance)}}
                    {% if (is_granted('ROLE_USER')) %}
                      {{form_row(form.specialite)}}
                      {{form_row(form.service)}}  
                    {% else %} 
                      {{form_row(form.specialite,{ 'attr': {'hidden': 'hidden-row'},'label_attr': {'hidden':'hidden'} })}}
                      {{form_row(form.service,{ 'attr': {'hidden': 'hidden-row'},'label_attr': {'hidden':'hidden'} })}}   
                    {% endif %}                 
                 </div>
             </div>
            <div class="col-md-8 " style="text-align:right">
                <button class="btn btn-primary">{{button_label|default('Enregistrer') }}</button><br>
            </div>
          </div>
        {{form_end(form)}}
   </div>

{% endblock %}